.navHeader{
  background-color: #4f4f4f;
  text-align: right;
}

#flexbox{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Page{
  flex:1;
}

#footer{
  background-color: #141414;
  color: white;
  bottom: 0;
}

#divHomePage{
  background-color: rgb(110, 108, 108);
}